body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #333;
	color: #fff;
	font-size: 1.1em;
	line-height: 1.5;
	text-align: center;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

/*header*/
#showcase {
	min-height: 450px;
	color: #fff;
	text-align: center;
}

header {
	background: url('../images/vietnam.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#showcase .content-wrap,
#section-a .content-wrap {
	padding: 0 1.5em;
}

.titleColor {
	color: #605f31;
}

.titleColor2{
	color: #5e6467;
}

/*Section A*/

#section-a {
	background: #f8ece4;
	color: #333;
	padding-bottom: 2em;
}

/*Section B*/

#section-b {
	padding: 2em 1em 1em;
}

#section-b ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

#section-b li {
	margin-bottom: 1em;
	background: #dadbca;
	color: #333;
}

.card-content {
	padding: 1.5em;
}

/*Section C*/

#section-c {
	background: #fff;
	color: #333;
	padding: 2em;
}

/*Section D*/

#section-d .box {
	padding: 2em;
	color: #fff;
}

#section-d .box:first-child {
	background: #f4e2d7;
	color: #333;
}

/*footer*/

#main-footer {
	padding: 2em;
	background: #75793e;
	color: #fff;
	text-align: center;
}

/**Vietnam site**/

#section-e .boxes {
	padding: 2em;
	color: #fff;
	background: #fff;
	color: #5e6467;
	text-align: left;
}

#section-e .boxes:first-child {
	background: lightgrey;;
	color: #605f31;
	text-align: left;
	
}

#section-e h6 {
	font-size: 18px;
	color: #000;
	margin: 0;
	padding: 0;
}


/*Media Queries*/

@media(min-width:700px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
	}
	
	#section-a .content-text {
		columns: 2;
		column-gap: 2em;
	}
	
	#section-a .content-text p {
		padding-top: 0;
	}
	
	
	.content-wrap, 
	#section-b ul {
		grid-column: 1/5;
	}
	.box, main-footer div {
		grid-column: span 2;
	}
	
	#section-b ul {
		display: flex;
		justify-content: space-around;
	}
	
	#section-b li {
		width: 31%;
	}
	
	#section-e .boxes{
		grid-column: span 2;
	}

}
